/* Hitta rätt i vården CSS Tema
-----------------------------------------------------------------------------------------------------------*/
.ui-bar-f {
	border: 1px solid 		#ccc /*{d-bar-border}*/;
	background: 			#bbb /*{d-bar-background-color}*/;
	color: 					#FFFFFF /*{d-bar-color}*/;
    
    border-top-color: #5D6469;
    border-bottom-color: #2B070E;
	
	text-shadow: 0 /*{d-bar-shadow-x}*/ 1px /*{d-bar-shadow-y}*/ 0 /*{d-bar-shadow-radius}*/ #333333 /*{d-bar-shadow-color}*/;	
    background-color: #CA9BA5;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#CA9BA5), to(#6A1325)); 
    background-image: -webkit-linear-gradient(top, #CA9BA5, #6A1325); 
    background-image:    -moz-linear-gradient(top, #CA9BA5, #6A1325); 
    background-image:     -ms-linear-gradient(top, #CA9BA5, #6A1325); 
    background-image:      -o-linear-gradient(top, #CA9BA5, #6A1325); 
    background-image:         linear-gradient(top, #CA9BA5, #6A1325);
}
.ui-bar-f,
.ui-bar-f input,
.ui-bar-f select,
.ui-bar-f textarea,
.ui-bar-f button {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}

.ui-bar-f .ui-link-inherit {
	color: 	#333333 /*{d-bar-color}*/;
}
.ui-bar-f .ui-link {
	color: #333333 /*{d-bar-link-color}*/;
	font-weight: normal;
}

.ui-bar-f .ui-link:hover {
	color: #333333 /*{d-bar-link-hover}*/;
}

.ui-bar-f .ui-link:active {
	color: #333333 /*{d-bar-link-active}*/;
}

.ui-bar-f .ui-link:visited {
     color: #333333 /*{d-bar-link-visited}*/;
     font-weight: normal;
}

.ui-body-f {
    background-color:#E6E6E6;   
}
.ui-body-f .ui-dialog.ui-overlay-f {
	border: 1px solid 		#ccc /*{d-body-border}*/;
	color: 					#333333 /*{d-body-color}*/;
	text-shadow: 0 /*{d-body-shadow-x}*/ 1px /*{d-body-shadow-y}*/ 0 /*{d-body-shadow-radius}*/ 	#fff /*{d-body-shadow-color}*/;
	background: 			#ffffff /*{d-body-background-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #fff), to( #fff /*{d-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(#fff /*{d-body-background-start}*/, #fff /*{d-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(#fff /*{d-body-background-start}*/, #fff /*{d-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient(#fff /*{d-body-background-start}*/, #fff /*{d-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient(#fff /*{d-body-background-start}*/, #fff /*{d-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient(#fff /*{d-body-background-start}*/, #fff /*{d-body-background-end}*/);
}
.ui-body-f,
.ui-body-f input,
.ui-body-f select,
.ui-body-f textarea,
.ui-body-f button {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}

.ui-body-f .ui-link-inherit {
	color: 	#333333 /*{d-body-color}*/;
}

.ui-body-f .ui-link {
	color: #333333 /*{d-body-link-color}*/;
	font-weight: bold;
	text-decoration:none;
}

.ui-body-f .ui-link:hover {
	color: #333333 /*{d-body-link-hover}*/;
}

.ui-body-f .ui-link:active {
	color: #333333 /*{d-body-link-active}*/;
}

.ui-body-f .ui-link:visited {
    color: #333333 /*{d-body-link-visited}*/;
    font-weight: normal;
}

.ui-body-f .ui-content-text-header {
    font-weight: bold;
}

.ui-btn-up-f {
	border: 1px solid 		#ccc /*{d-bup-border}*/;
	background: 			#fff /*{d-bup-background-color}*/;
	font-weight: bold;
	color: 					#444 /*{d-bup-color}*/;
	text-shadow: 0 /*{d-bup-shadow-x}*/ 1px /*{d-bup-shadow-y}*/ 1px /*{d-bup-shadow-radius}*/ #fff /*{d-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #fff), to( #fff /*{d-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(#fff /*{d-bup-background-start}*/, #fff /*{d-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(#fff /*{d-bup-background-start}*/, #fff /*{d-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient(#fff /*{d-bup-background-start}*/, #fff /*{d-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient(#fff /*{d-bup-background-start}*/, #fff /*{d-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient(#fff /*{d-bup-background-start}*/, #fff /*{d-bup-background-end}*/);
}
.ui-btn-up-f a.ui-link-inherit {
	color: 					#333 /*{d-bup-color}*/;
}
.ui-btn-hover-f {
	border: 1px solid 		#aaa /*{d-bhover-border}*/;
	background: 			#eeeeee /*{d-bhover-background-color}*/;
	font-weight: bold;
	color: 					#222 /*{d-bhover-color}*/;
	cursor: pointer;
	text-shadow: 0 /*{d-bhover-shadow-x}*/ 1px /*{d-bhover-shadow-y}*/ 1px /*{d-bhover-shadow-radius}*/ 	#fff /*{d-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #fdfdfd), to( #eee /*{d-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(#fdfdfd /*{d-bhover-background-start}*/, #eee /*{d-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(#fdfdfd /*{d-bhover-background-start}*/, #eee /*{d-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient(#fdfdfd /*{d-bhover-background-start}*/, #eee /*{d-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient(#fdfdfd /*{d-bhover-background-start}*/, #eee /*{d-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient(#fdfdfd /*{d-bhover-background-start}*/, #eee /*{d-bhover-background-end}*/);
}
.ui-btn-hover-f a.ui-link-inherit {
	color: 					#222 /*{d-bhover-color}*/;
}
.ui-btn-down-f {
    border: 1px solid       #aaa /*{d-bhover-border}*/;
    background:             #eeeeee /*{d-bhover-background-color}*/;
    font-weight: bold;
    color:                  #222 /*{d-bhover-color}*/;
    cursor: pointer;
    text-shadow: 0 /*{d-bhover-shadow-x}*/ 1px /*{d-bhover-shadow-y}*/ 1px /*{d-bhover-shadow-radius}*/     #fff /*{d-bhover-shadow-color}*/;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #fdfdfd), to( #eee /*{d-bhover-background-end}*/)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(#fdfdfd /*{d-bhover-background-start}*/, #eee /*{d-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient(#fdfdfd /*{d-bhover-background-start}*/, #eee /*{d-bhover-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient(#fdfdfd /*{d-bhover-background-start}*/, #eee /*{d-bhover-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient(#fdfdfd /*{d-bhover-background-start}*/, #eee /*{d-bhover-background-end}*/); /* Opera 11.10+ */
    background-image:         linear-gradient(#fdfdfd /*{d-bhover-background-start}*/, #eee /*{d-bhover-background-end}*/);
}
.ui-btn-down-f a.ui-link-inherit {
	color: 					#111 /*{d-bdown-color}*/;
}
.ui-btn-up-f,
.ui-btn-hover-f,
.ui-btn-down-f {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
	text-decoration: none;
}






/* Buttons - Start */
.ui-btn-left {
	float:left;
	left: 6px;	
}
.ui-btn-right {
	float:right;
    right: 6px;
}

.ui-button{
    background-image: url(../images/ButtonDefaultLeft.png);
    background-color: transparent;
    background-repeat:no-repeat;
    border-width:0px;
    height: 33px;    	    
}
.ui-button .ui-btn-inner {       
    border-color: transparent;
    border-top: 0px none;
    padding-top: 6px;   
    border: 0px;
}
.ui-button.ui-btn-corner-all,
.ui-button .ui-btn-corner-all {
  -webkit-border-radius: 0px; 
     -moz-border-radius: 0px; 
          border-radius: 0px;                                   
    
	    -moz-box-shadow: none;
	 -webkit-box-shadow: none;
	         box-shadow: none;
}
.ui-button .ui-btn-inner, .ui-button > img{
    background-image: url('../images/BtnBackMiddleEnd.png');		
	background-repeat:no-repeat;	
	margin-left: 8px;
	height: 22px;     
}
.ui-button.ui-btn-up-f{
	background-position: 0px 0px;
}
.ui-button.ui-btn-up-f .ui-btn-inner{
	background-position:right 0px;
}
.ui-button.ui-btn-hover-f, .ui-button.ui-btn-down-f{
    background-image: url('../images/ButtonHighlightLeft.png');
	background-position: 0 0px;
}
.ui-button.ui-btn-hover-f .ui-btn-inner, .ui-button.ui-btn-down-f .ui-btn-inner{
	background-image: url('../images/ButtonHighlightMiddleAndRight.png');
	background-position: right 0px;
}
.ui-button .ui-btn-text{
	color: #FFFFFF;
	/*height: 30px;*/
    text-shadow: 0 1px 0 #333333;
}


/* Button icons */
/*

.ui-button-icon{
	height: 42px;
	width: 42px;	
	padding: 0px;  
	border: 0px;
    background-image: none;
    background-color: transparent;
    
}
.ui-button-icon .ui-btn-inner{
    width: 42px;
    height: 30px;
    margin: 0px;
    padding: 0px;    
    border: 0px;
    background-image:none;
}
.ui-button-icon .ui-icon{
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	border: none;	
	background-color: transparent;
	background-image: none;
	width: 42px; 
    height:30px;   
}

.ui-button-icon.ui-btn-corner-all,
.ui-button-icon .ui-btn-corner-all {
    -moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
*/

/* Back button */
.ui-button-back {
    background-image: url('../images/BtnBackLeft.png');
    background-repeat:no-repeat;  
    background-color:transparent;
    border: 0px;     
}
.ui-button-back .ui-btn-inner, .ui-button-back > img {
    background-image: url('../images/BtnBackMiddleEnd.png');
	background-repeat:no-repeat;		
	margin-left: 15px;
	padding-left: 2px;
	height: 22px;
}
.ui-button-back .ui-btn-text{
	color: #FFFFFF;
	/*height: 30px;*/
    text-shadow: 0 1px 0 #333333;
}
.ui-button-back.ui-btn-up-f{
	background-position: 0px 0px;
}
.ui-button-back.ui-btn-up-f .ui-btn-inner{
	background-position:right 0px;
}
.ui-button-back.ui-btn-hover-f, .ui-button-back.ui-btn-down-f{    
	background-position: 0 -50px;
}
.ui-button-back.ui-btn-hover-f .ui-btn-inner, .ui-button-back.ui-btn-down-f .ui-btn-inner{	
	background-position: right -50px;
}



/* Button bottom left */
.ui-button-bottom-left.ui-button {
	background-position: right;  
	margin-top:4px;
}
.ui-button-bottom-left {
    background-image: url('../images/BtnBottomLeftOffv2.png');
    background-repeat:no-repeat;  
    background-color:transparent;         
    width:  50%;  	       
    left: 0;
    right: 0;  
}
.ui-button-bottom-left .ui-btn-inner {
    background-image: none;
	text-align: right;     
}
.ui-button-bottom-left .ui-btn-text{
	margin-right: 35px;	
}
.ui-button-bottom-left.ui-btn-hover-f, .ui-button-bottom-left.ui-btn-down-f {    	
	background-position: right;
	background-image: url('../images/BtnBottomLeftOn.png');	
}
.ui-button-bottom-left.ui-btn-hover-f .ui-btn-inner, .ui-button-bottom-left.ui-btn-down-f .ui-btn-inner{	
	background-image:none;			
}


/* Button bottom right */
.ui-button-bottom-right.ui-button {
	background-position: left;
	margin-top:4px;	
}
.ui-button-bottom-right {
    background-image: url('../images/BtnBottomRightOff.png');
    background-repeat:no-repeat;  
    background-color:transparent;     
    width: 50%;      
    left: 0;
    right: 0;         	     
}
.ui-button-bottom-right .ui-btn-inner {
    background-image: none;
	text-align: left;    
}
.ui-button-bottom-right .ui-btn-text{
	margin-left: 35px;
}
.ui-button-bottom-right.ui-btn-hover-f, .ui-button-bottom-right.ui-btn-down-f {    	
 	background-position: left;
	background-image: url('../images/BtnBottomRightOn.png');	
}
.ui-button-bottom-right.ui-btn-hover-f .ui-btn-inner, .ui-button-bottom-right.ui-btn-down-f .ui-btn-inner{	
	background-image:none;			
}